.btn {
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: green;
    padding: 10px;
}
.yyy {
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgb(0, 225, 255);
    padding: 10px;
}